@import '../../../styles/global.scss';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 40px;
  border-radius: 5px;
  padding: 8px 32px;
  gap: 10px;
  border: none;
  color: #fff;
  font-size: 15px;

  /* Pallete/primary */

  background: #7209B7;

  &:hover {
    cursor: pointer;
    background: $button-background-hover;
  }
  &:focus {
    background-color: $button-border-focus;
  }
}