//colors
// $color-primary: #3762FB;

$color-primary: #7209B7;
$color-primary50: rgba(114, 9, 183, 0.5);

$color-black100: #353535;
$color-black75: #676767;
$color-black50: #9B9B9B;
$color-black25: #CDCDCD;
$color-white: #FFF;

$color-background-white98: #FAFAFA;
$color-background-white97: #F7F7F8;

$button-background-primary: $color-primary;
$button-background-hover: #550788;
$button-border-focus: $color-primary50;
$button-background-disabled: $color-black25;

$color-trash: #F00;
$color-reset: #CB0000;

